<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RSI_Calendar</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RSI_Calendar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @using Microsoft.AspNetCore.Identity
                @inject SignInManager<User> signInManager
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Calendar" asp-action="Month">Month</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Calendar" asp-action="Day">Day</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Calendar" asp-action="Schedule">Schedule</a>
                        </li>

                        @if (signInManager.IsSignedIn(User))
                        {
                            // signed-in user - Log Out button and username
                            <li class="nav-item" stye="text-decoration: none">
                                <form method="post" asp-action="LogOut" asp-controller="User"
                                      asp-area="">
                                    <input type="submit" value="Log Out"
                                           class="btn btn-outline-Dark" />
                                    <span class="text-dark">@User.Identity.Name</span>
                                </form>
                            </li>
                        }
                        else
                        {

                            <li class="nav-item" stye="text-decoration: none">
                                <a asp-action="LogIn" asp-controller="User"
                                   asp-area="" class="btn btn-outline-dark">Log In</a>
                            </li>
                        }
                        @if (signInManager.IsSignedIn(User))
                        {
                            //if the user is signed in, display the user name
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-controller="User" asp-action="Settings" asp-area="">Settings</a>
                                    <div class="dropdown-divider"></div>
                                    @if (User.IsInRole("Admin"))
                                    {

                                        <a class="dropdown-item" asp-controller="Users" asp-action="ViewUsers" asp-area="Admin">Users</a>
                                        <div class="dropdown-divider"></div>
                                    }
                                    @if (User.IsInRole("CulAm"))
                                    {

                                        <a class="dropdown-item" asp-controller="Event" asp-action="ViewEvents" asp-area="CulAm">Events</a>
                                        <div class="dropdown-divider"></div>
                                    }
                                    <a class="dropdown-item" asp-controller="User" asp-action="LogOut" asp-area="">Log Out</a>
                                </div>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - RSI_Calendar - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
