@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Day";
}
<head>
    <link rel="stylesheet" href="site.css">
    <style>
        .date-selector {
            width: 1000px;
            height: 70px;
            margin: 20px auto;
            background: #FFFFFF;
            border: 2px solid #062C48;
            box-shadow: 0px 4px 4px -1px #2E5D7F;
            border-radius: 45px;
            padding: 0 5%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
        }
        .date-text {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 50px;
            text-align: center;
            color: #062C48;
            margin: 0;
        }
        .left-arrow {
            width: 0;
            height: 0;
            border-width: 24px 45px 24px 0;
            border-color: transparent #062C48 transparent transparent;
            border-style: solid;
        }
        .right-arrow {
            width: 0;
            height: 0;
            border-width: 24px 0 24px 45px;
            border-color: transparent transparent transparent #062C48;
            border-style: solid;
        }
        .event-display {
            width: 1000px;
            height: 700px;
            margin: 20px auto;
            background: #F4F4F4;
            border: 1px solid #0E7ED0;
            box-sizing: border-box;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        tr {
            float: right;
            width: 90%;
            height: 70px;
            background: #EB1C2C;
            border: 1px solid #000000;
            margin-top: 20px;
            border-top-left-radius: 45px;
            border-bottom-left-radius: 45px;
        }
        td {
            position: relative;
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            text-align: center;
            line-height: 50px;
            color: #FFFFFF;
            padding: 9px 30px;
            box-sizing: border-box;
        }
        .event-time {
            width: 30%;
            border-right: 5px solid #000000;
        }
    </style>
</head>
<body>
    <div class="date-selector">
        <button type="button" class="left-arrow"></button>
        <h1 class="date-text">Tuesday, September 14</h1>
        <button type="button" class="right-arrow"></button>
    </div>
    <div class="event-display">
        <table>
            <tr>
                <td class="event-time">5:05 PM</td>
                <td>Green Jackets Night</td>
            </tr>
            <tr>
                <td class="event-time">5:05 PM</td>
                <td>Green Jackets Night</td>
            </tr>
        </table>
    </div>
</body>