@{ ViewData["Title"] = "Month View"; }

<h1>Calendar/Month</h1>

<!--this is a hard coded month calendar-->
<div id="calendar">
    <!--We can do our custom css for this by #id.col or #id.row in the css we can set the size for each row to take 20% of available width-->
    <div class="row text-center"><h1>Month Name</h1></div>
    <div class="row">
        <div class="col calendar-box">Sun</div>
        <div class="col calendar-box">Mon</div>
        <div class="col calendar-box">Tue</div>
        <div class="col calendar-box">Wed</div>
        <div class="col calendar-box">Thu</div>
        <div class="col calendar-box">Fri</div>
        <div class="col calendar-box">Sat</div>
    </div>
    <div class="row text-center">
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-mandatory"><p>Event Name</p></div>
        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-mandatory"><p>Event Name</p></div>
        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-mandatory"><p>Event Name</p></div>
        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-mandatory"><p>Event Name</p></div>
        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-mandatory"><p>Event Name</p></div>
        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-mandatory"><p>Event Name</p></div>
        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-mandatory"><p>Event Name</p></div>
        </div>
    </div>
    <div class="row">
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-mandatory"><p>Event Name</p></div>
        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-mandatory"><p>Event Name</p></div>
        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-mandatory"><p>Event Name</p></div>
        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-mandatory"><p>Event Name</p></div>
        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-mandatory"><p>Event Name</p></div>
        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-mandatory"><p>Event Name</p></div>
        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-mandatory"><p>Event Name</p></div>
        </div>
    </div>
    <div class="row">
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-mandatory"><p>Event Name</p></div>
        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-mandatory"><p>Event Name</p></div>
        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-mandatory"><p>Event Name</p></div>
        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-mandatory"><p>Event Name</p></div>
        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-mandatory"><p>Event Name</p></div>
        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-mandatory"><p>Event Name</p></div>
        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-mandatory"><p>Event Name</p></div>
        </div>
    </div>
    <div class="row">
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>

        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>

        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>

        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>

        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>

        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>

        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>

        </div>
    </div>
    <div class="row">
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-optional"><p>Event Name</p></div>
        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-optional"><p>Event Name</p></div>
        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-optional"><p>Event Name</p></div>
        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-optional"><p>Event Name</p></div>
        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-optional"><p>Event Name</p></div>
        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-optional"><p>Event Name</p></div>
        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-optional"><p>Event Name</p></div>
        </div>
    </div>
    <div class="row">
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-fun"><p>Event Name</p></div>
        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-fun"><p>Event Name</p></div>
        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-fun"><p>Event Name</p></div>
        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-fun"><p>Event Name</p></div>
        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-fun"><p>Event Name</p></div>
        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-fun"><p>Event Name</p></div>
        </div>
        <div class="col calendar-box">
            <div class="row text-md-start date-num"><p>#</p></div>
            <div class="row event-fun"><p>Event Name</p></div>
        </div>
    </div>
</div>


<!--This is a calendar using the DayPilot library, which i think will be the easiest way. Just need to figure out a way to get JavaScript to read our table and populate the events-->

<div class="row">
    <select class="form-select" aria-label="Location Select">
        <option selected>Select Location</option>
        <option value="Augusta">Augusta</option>
        <option value="Other">Other Location</option>
        <option value="another">Another Location</option>
        <option value="new">New Location</option>
    </select>
</div>

<div id="dp"></div>

<script src="~/lib/DayPilot/scripts/daypilot-all.min.js" asp-append-version="true"></script>
<script>
    const dp = new DayPilot.Calendar("dp");

    dp.ViewType = "Month";

    dp.init();

    loadEvents();

    function loadEvents() {
        dp.events.load("/api/CalendarEvents");
    }

</script>