@{ ViewData["Title"] = "Month View"; }

<!--This is a calendar using the full library, which i think will be the easiest way. Just need to figure out a way to get JavaScript to read our table and populate the events-->

<div id="month"></div>