@model string

@{
    ViewData["Title"] = "Forgot Password";
}

<div class="rsi-form-login">
    <!-- PAGE TITLE -->
    <div class="jumbotron jumbotron-fluid bg-rsi-blue p-3 mb-3 rounded">
        <div class="container">
            <h1 class="display-6 text-center text-white">Forgot Password</h1>
        </div>
    </div>

    <!-- FORGOT PASSWORD FORM -->
    <form class="text-center rsi-form" id="rsi-login-form" asp-action="ForgotPassword" method="post" >

        <!-- EMAIL -->
        <div class="row">
            <input name="email" class="form-control shadow-sm" id="forgotPasswordEmail" placeholder="Email Address"/>
        </div>

        <!-- SUBMIT BUTTON -->
        <div class="row mt-4">
            <button class="btn rsi-btn-blue" type="submit">Send email to reset password</button>
        </div>

        <!-- CANCEL BUTTON -->
        <div class="row mt-2">
            <a class="btn rsi-btn-white" type="button"
                    asp-controller="User" asp-action="LogIn">Cancel</a>
        </div>
    </form>
</div>