@{ ViewData["Title"] = "Forgot Password Confirmation"; }

<!-- PAGE TITLE -->
<div class="jumbotron jumbotron-fluid bg-rsi-blue p-3 mb-3 rounded">
    <div class="container">
        <h1 class="display-6 text-center text-white">Password Reset Confirmation</h1>
    </div>
</div>


<!-- MESSAGE -->
<div class="container mt-5 mb-5 p-5 rsi-form">
    <h5 class="display-6 text-center text-rsi-blue">
        An email has been sent to email address that you provided.
        Inside that email message are instructions for resetting your password.
    </h5>
</div>