@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<div class="jumbotrol jumbotron-fluid bg-rsi-blue p-3 mb-3 rounded">
    <div class="container">
        <h1 class="text-center text-white">Forgot Password Confirmation</h1>
        <p class="display-6 text-center text-white"> The email has been sent. Please check your email to reset your password. </p>
    </div>
</div>