@model LoginViewModel
@{ ViewBag.Title = "Login"; }



<div class="rsi-form-login">
    <!-- PAGE TITLE -->
    <div class="jumbotron jumbotron-fluid bg-rsi-blue p-3 mb-3 rounded">
        <div class="container">
            <h1 class="display-6 text-center text-white">Log In</h1>
        </div>
    </div>


    <!-- LOG IN FORM -->
    <form method="post" class="text-center rsi-form" id="rsi-login-form"
          asp-action="LogIn" asp-route-returnUrl="@Model.ReturnUrl" asp-area="">

        <!-- MODEL VALIDATION -->
        <div class="row mb-3">
            <div class="text-danger text-start" asp-validation-summary="ModelOnly"></div>
        </div>

        <!-- USERNAME -->
        <div class="row">
            <input type="text" asp-for="Username" placeholder="Email Address" class="form-control" />
        </div>
        <!-- VALIDATION -->
        <div class="row">
            <span class="text-danger mb-4 text-start" asp-validation-for="Username"></span>
        </div>

        <!-- PASSWORD -->
        <div class="row">
            <input type="password" asp-for="Password" placeholder="Password" class="form-control" />
        </div>
        <!-- VALIDATION -->
        <div class="row">
            <span class="text-danger mb-4 text-start" asp-validation-for="Password"></span>
        </div>

        <!-- REMEMBER ME? -->
        <div class="row mt-1">
            <div class="col">
                <input type="checkbox" title="Remember Me" asp-for="RememberMe"
                       class="form-check-inline" />
                <label asp-for="RememberMe">Remember Me</label>
            </div>
        </div>

        <!-- LOG IN BUTTON -->
        <div class="row mt-2">
            <button type="submit" class="btn rsi-btn-blue">Log In</button>
        </div>

        <!-- FORGOT PASSWORD -->
        <div class="row mt-2">
            <a asp-controller="User" asp-action="ForgotPassword">Forgot Password?</a>
        </div>
    </form>
</div>
