@{ 
    ViewData["Title"] = "Reset Password Confirmation";
}

<div class="jumbotrol jumbotron-fluid bg-rsi-blue p-3 mb-3 rounded">
    <div class="container">
        <h1 class="text-center text-white">Reset Password Confirmation</h1>
        <p class="display-6 text-center text-white"> Your password has been reset. Please Login to continue. </p>
    </div>
</div>

<div class="text-center">
    <a class="btn rsi-btn-blue" asp-controller="User" asp-action="LogIn" type="submit">Login</a>
</div>