@model Attachment
@{
    ViewData["Title"] = "Delete Attachment";
}

<div id="delete-jumbotron" class="jumbotron jumbotron-fluid bg-rsi-blue p-3 mb-3 rounded">
    <div class="container">
        <h1 class="display-6 text-center text-rsi-red">Are you sure you want to delete this attachment?</h1>
    </div>
</div>

<div id="delete-form" class="container mt-5 mb-5 p-5 rsi-form">
    <form asp-action="DeleteAttachment" method="post">

        <!-- TITLE -->
        <div class="row">
            <label for="attachmentTitle" class="col-sm-3 col-md-2 col-form-label fw-bold text-sm-end">Title:</label>
            <div class="col-sm-9 col-md-10">
                <input asp-for="Title" class="form-control-plaintext" id="attachmentTitle" readonly>
            </div>
        </div>

        <!-- Link -->
        <div class="row">
            <label for="attachmentLink" class="col-sm-3 col-md-2 col-form-label fw-bold text-sm-end">Link:</label>
            <div class="col-sm-9 col-md-10">
                <input asp-for="Link" class="form-control-plaintext" id="attachmentLink" readonly>
            </div>
        </div>

        <!-- Hidden Fields -->
        <div class="row">
            <input asp-for="EventID" type="hidden" />
            <input asp-for="ID" type="hidden" />
        </div>

        <!-- DELETE BUTTON -->
        <div class="row mt-5">
            <div class="col-sm-3 col-md-2"></div>
            <div class="col-sm-9 col-md-10">
                <button class="btn rsi-btn-red" type="submit">Delete</button>
                <a class="btn rsi-btn-white" asp-area=""
                   asp-controller="Event"
                   asp-action="Details"
                   asp-route-id="@Model.EventID">Cancel</a>
            </div>
        </div>
    </form>
</div>