@{ ViewData["Title"] = "Home Page"; }

<!-- PAGE TITLE -->
<div class="jumbotron jumbotron-fluid bg-rsi-blue p-3 mb-3 rounded">
    <h1 class="display-6 text-center text-white">Welcome to the Rural Sourcing Culture Calendar!</h1>
</div>

<div class="container rsi-form">
    <p>
        <h3>About</h3>
        Here you will be able to access all the events available to employees of Rural Sourcing.
        This calendar will consolidate the various events held for our colleagues and communities,
        such as: game nights, monthly round-ups, softball league games, Greenjackets baseball events,
        Tech Tuesday learning presentations, etc. This will give you a way to keep track of the
        events going on without interfering with your personal calendar.
    </p>
    <div class="form-group row">
        
        <div class="col-sm-8">
            <h3>Features</h3>
            <ul>
                <li>Access past, present, and future events</li>
                <li>Access on your desktop, laptop, tablet, or mobile device</li>
                <li>Access to additional information from videos, PDFs, powerpoints</li>
                <li>Search and view events at any Rural Sourcing branch</li>
            </ul>
        </div>
        <div class="col-sm-4 d-grid align-items-center">
            <a class="btn btn-lg rsi-btn-blue shadow-sm align-items-center" type="button" asp-controller="User" asp-action="LogIn">Log In</a>
        </div>
    </div>
</div>

<br /><br /><br />


<div class="container rsi-form">
    <h1>Temporary Primitive Nav Links</h1>
    <h2>User</h2>
    <ul>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Calendar" asp-action="Month">Calendar/Month</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Calendar" asp-action="Day">Calendar/Day</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Calendar" asp-action="Schedule">Calendar/Schedule</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Event" asp-action="Details">Event/Details</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Event" asp-action="Search">Event/Search</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">User/Login</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Settings">User/Settings</a>
        </li>
    </ul>

    <h2>Cultural Ambassador</h2>
    <ul>
        <li>
            <a class="nav-link text-dark" asp-area="CulAm" asp-controller="Event" asp-action="Edit">CulAm/Event/Edit</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="CulAm" asp-controller="Event" asp-action="Delete">CulAm/Event/Delete</a>
        </li>
    </ul>

    <h2>Administrator</h2>
    <ul>
        <li>
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="Edit">Admin/User/Edit</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="Delete">Admin/User/Delete</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="Search">Admin/User/Search</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="AdminUser" asp-action="Register">Admin/AdminUser/Register</a>
        </li>
    </ul>
</div>