@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h1>Primitive Nav directions</h1>
    <h2>User</h2>
    <ul>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Calendar" asp-action="Month">Calendar/Month</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Calendar" asp-action="Day">Calendar/Day</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Calendar" asp-action="Schedule">Calendar/Schedule</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Event" asp-action="Details">Event/Details</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Event" asp-action="Search">Event/Search</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">User/Login</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Settings">User/Settings</a>
        </li>
    </ul>

    <h2>Cultural Ambassador</h2>
    <ul>
        <li>
            <a class="nav-link text-dark" asp-area="CulAm" asp-controller="Event" asp-action="Edit">CulAm/Event/Edit</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="CulAm" asp-controller="Event" asp-action="Delete">CulAm/Event/Delete</a>
        </li>
    </ul>

    <h2>Administrator</h2>
    <ul>
        <li>
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="Edit">Admin/User/Edit</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="Delete">Admin/User/Delete</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="Search">Admin/User/Search</a>
        </li>
    </ul>
</div>