@model Employee
<!-- JUMBOTRON -->
<div id="delete-jumbotron" class="jumbotron jumbotron-fluid bg-rsi-blue p-3 mb-3 rounded">
    <div class="container">
        <h1 class="display-6 text-center  text-rsi-red">Are you sure you want to delete this user?</h1>
    </div>
</div>

<div id="delete-form" class="container rsi-form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form method="post" asp-action="Delete">

        <!-- FIRST NAME -->
        <div class="form-group row">
            <label for="userDeleteFName" class="col-md-2 col-form-label fw-bold">First Name:</label>
            <div class="col-md-10">
                <input type="text" asp-for="FName"
                       id="userDeleteFName" class="form-control-plaintext" readonly>
            </div>
        </div>

        <!-- LAST NAME -->
        <div class="form-group row">
            <label for="userDeleteLName" class="col-md-2 col-form-label fw-bold">Last Name:</label>
            <div class="col-md-10">
                <input type="text" asp-for="LName"
                       id="userDeleteLName" class="form-control-plaintext" readonly>
            </div>
        </div>

        <!-- EMAIL -->
        <div class="form-group row">
            <label for="userDeleteEmail" class="col-md-2 col-form-label fw-bold">Email:</label>
            <div class="col-md-10">
                <input type="text" asp-for="Email" 
                       id="userDeleteEmail" class="form-control-plaintext" readonly>
            </div>
        </div>


        <!-- BRANCH -->
        <div class="form-group row">
            <label for="userDeleteBranch" class="col-md-2 col-form-label fw-bold">Branch:</label>
            <div class="col-md-10">
                <input type="text" asp-for="Branch" 
                       id="userDeleteBranch" class="form-control-plaintext" readonly/>
            </div>
            
        </div>

        <!-- Role -->
        <div class="form-group row">
            <label for="userDeleteRole" class="col-md-2 col-form-label fw-bold">Role:</label>
            <div class="col-md-10">
                <input type="text" asp-for="Role" 
                       id="userDeleteRole" class="form-control-plaintext" readonly>
            </div>
        </div>

        <div class="form-group row mt-5">
            <div class="col-md-2"></div>
            <div class="col-md-7">
                <div class="btn-group-lg">
                    <!-- Delete -->
                    <input class="btn rsi-btn-red shadow-sm" type="submit" value="Delete">
                    <!-- CANCEL -->
                    <a class="btn rsi-btn-white shadow-sm" type="button" asp-area="Admin" asp-controller="AdminUser" asp-action="Search">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>