@model Employee




<div class="jumbotrol jumbotron-fluid bg-rsi-blue p-3 mb-3 rounded">
    <div class="container">
        <h1 class="display-6 text-center text-white"> Edit Employee</h1> <!--@ViewBag.Action-->
    </div>
</div>

<div class="container rsi-form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form method="post" asp-action="Edit">

        <input asp-for="ID" type="hidden" />
        <!-- FIRST NAME -->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label fw-bold">First Name:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control shadow-sm" asp-for="FName" />
            </div>
        </div>

        <!-- LAST NAME -->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label fw-bold">Last Name:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control shadow-sm" asp-for="LName" />
            </div>
        </div>

        <!-- EMAIL -->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label fw-bold">Email:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control shadow-sm" asp-for="Email" />
            </div>
        </div>

        <!-- BRANCH -->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label fw-bold">Branch:</label>
            <div class="col-sm-7">
                <select asp-for="Branch" class="form-select shadow-sm" aria-label="Branch Selection">
                    <option selected value="Location">Location</option>
                    <option value="Augusta, GA">Augusta, GA</option>
                    <option value="Albuquerque, NM">Albuquerque, NM</option>
                    <option value="FortWayne, IN">FortWayne, IN</option>
                    <option value="Jonesboro, AR">Jonesboro, AR</option>
                    <option value="Madison, WI">Madison, WI</option>
                    <option value="Milwaukee, WI">Milwaukee, WI</option>
                    <option value="Mobile, AL">Mobile, AL</option>
                    <option value="Oklahoma City, OK">Oklahoma City, OK</option>
                </select>
            </div>
        </div>

        <!-- Role -->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label fw-bold">Role:</label>
            <div class="col-sm-7">
                <select asp-for="Role" class="form-select shadow-sm" aria-label="Role Selection">
                    <option selected value="user">User</option>
                    <option value="admin">Admin</option>
                    <option value="culam">Cultural Ambassador</option>
                </select>
            </div>
        </div>

        <!--<br /> <br />-->
        <!-- SEND PASSWORD RESET EMAIL -->
        <!--<div class="form-group row top-50">
            <label class="col-sm-2"></label>
            <div class="col-sm-7">
                <button type="submit" class="btn btn-lg rsi-btn-blue"
                        asp-action="RequestResetPassword" asp-controller="AdminUser" asp-area="Admin">
                    Send Email to Reset Password
                </button>
            </div>
        </div>-->

        <!-- PASSWORD Right now this is disabled because I have to think hard
    <div class="form-group row">
        <label class="col-sm-2 col-form-label fw-bold">Password:</label>
        <div class="col-sm-7">
            <input id="password" type="text" class="form-control shadow-sm" asp-for="" />
            <div class="input-group-append">
                <span class="input-group-text" onclick="password_show_hide();">
                    <i class="fas fa-eye" id="show_eye"></i>
                    <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
                </span>
            </div>
        </div>
    </div>

     CONFIRM PASSWORD
    <div class="form-group row">
        <label class="col-sm-2 col-form-label fw-bold">Password:</label>
        <div class="col-sm-7">
            <div>
                <input id="confirmPassword" type="text" class="form-control shadow-sm" asp-for="" />
                <div class="input-group-append">
                    <span class="input-group-text" onclick="password_show_hide();">
                        <i class="fas fa-eye" id="show_eye"></i>
                        <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
        -->

        <!-- BUTTONS -->
        <div class="form-group row mt-5">
            <div class="col-sm-2"></div>
            <div class="col-sm-7">
                <div class="btn-group-lg">
                    <!-- Edit -->
                    <input class="btn rsi-btn-blue shadow-sm" type="submit" value="Save">
                    <!-- SEND PASSWORD RESET EMAIL -->
                    <button type="submit" class="btn btn-lg rsi-btn-blue"
                            asp-action="RequestResetPassword" asp-controller="AdminUser" asp-area="Admin">
                        Send Email to Reset Password
                    </button>
                    <!-- CANCEL -->
                    <a class="btn rsi-btn-white shadow-sm"
                       asp-area="Admin"
                       asp-controller="AdminUser"
                       asp-action="Search">Cancel</a>
                </div>
            </div>
        </div>

    </form>
</div>

<script src="~/js/Passwords.js"></script>
