@model string

@{
    ViewData["Title"] = "Forgot Password";
}

<div class="jumbotrol jumbotron-fluid bg-rsi-blue p-3 mb-3 rounded">
    <div class="container">
        <h1 class="display-6 text-center text-white">Forgot Password</h1> 
    </div>
</div>

<form class="rsi-form" asp-action="ForgotPassword" method="post">
    <div class="form-group row">
        <label class="col-2">Email</label>
        <input name="email" class="form-control col-7" />
    </div>
    <button class="btn rsi-btn-blue" type="submit">Submit</button>
    <button class="btn rsi-btn-white" type="button" asp-area="" asp-controller="User" asp-action="LogIn">Cancel</button>
</form>