@{
    ViewData["Title"] = "User Search";
}
<!--Page Title-->
<div class="container bg-rsi-blue p-3 mb-3 rounded">
    <h1 class="display-6 text-center text-white">User Search</h1>
</div>

<!--Search Parameters-->
<div class="container rsi-form">
    <form asp-action="Search" method="post">
        <!--User Search Term-->
        <div class="row mb-3">
            <label class="col-form-label col-sm-2 col-lg-1 fw-bold" for="userSearchTerm">Term:</label>
            <div class="col-sm-10 col-lg-5">
                <input class="form-control" type="text" id="userSearchTerm" 
                       placeholder="First Name, Last Name, or Email Address"/>
            </div>
        </div>
        <!-- User Branch -->
        <div class="row mb-3">
            <label class="col-form-label col-sm-2 col-lg-1 fw-bold" for="userSearchBranch">Branch:</label>
            <div class="col-sm-10 col-lg-5">
                <select class="form-select" id="userSearchBranch">
                    <option value="any" selected>Any</option>
                    <option value="Augusta, GA">Augusta, GA</option>
                    <option value="Albuquerque, NM">Albuquerque, NM</option>
                    <option value="Fort Wayne, IN">Fort Wayne, IN</option>
                    <option value="Jonesboro, AR">Jonesboro, AR</option>
                    <option value="Madison, WI">Madison, WI</option>
                    <option value="Milwaukee, WI">Milwaukee, WI</option>
                    <option value="Mobile, AL">Mobile, AL</option>
                    <option value="Oklahoma, OK">Oklahoma, OK</option>
                </select>
            </div>
        </div>
        <!-- USER ROLE -->
        <div class="row mb-3">
            <label class="col-form-label col-sm-2 col-lg-1 fw-bold" for="userSearchRole">Role:</label>
            <div class="col-sm-10 col-lg-5">
                <select class="form-select" id="userSearchRole">
                    <option value="any" selected>Any</option>
                    <option value="user">User</option>
                    <option value="culam">Cultural Ambassador</option>
                    <option value="admin">Administrator</option>
                </select>
            </div>
        </div>
        <!--Buttons-->
        <div class="row mb-3">
            <div class=" col-sm-2 col-lg-1"></div>
            <div class="col-sm-10 col-lg-5">
                <button type="button" class="btn rsi-btn-blue shadow-sm">Search</button>
                <button type="reset" class="btn rsi-btn-red shadow-sm">Reset</button>
                <a type="button" class="btn rsi-btn-white shadow-sm"
                   asp-area=""
                   asp-controller="Calendar"
                   asp-action="Calendar">Cancel</a>
            </div>
        </div>
    </form>
</div>

<!--Search Results-->
<table class="table table-bordered table-dark table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Branch</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>LName, FName</td>
            <td>Augusta, GA</td>
            <td>User</td>
        </tr>
        <tr>
            <td>LName, FName</td>
            <td>Augusta, GA</td>
            <td>Admin</td>
        </tr>
        <tr>
            <td>LName, FName</td>
            <td>Augusta, GA</td>
            <td>Cultural Ambassador</td>
        </tr>
    </tbody>
</table>


