/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

#nav {
    background-color: #032044;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* 
***************************************************************
**************************************************************** RURAL SOURCING INC
***************************************************************
*/

/* 
**************************************************** RSI COLOR VARIABLES
*/
html {
    --rsi-blue: #062C48; /* copy and paste to use: var(--rsi-blue) */
    --rsi-red: #EB1C2C; /* copy and paste to use: var(--rsi-red) */
    --rsi-gray: #F2F2F2; /* copy and paste to use: var(--rsi-gray) */
}




/* 
**************************************************** FORMS
*/
.rsi-form {
    background-color: var(--rsi-gray);
    border: 2px solid var(--rsi-blue);
    border-radius: 10px;
    box-shadow: var(--rsi-blue) 0px 0px 10px 5px;
    margin: 50px auto;
    padding: 20px;
}




/* 
**************************************************** TEXT
*/
.text-rsi-blue {
    color: var(--rsi-blue);
}

.text-rsi-red {
    color: var(--rsi-red);
}




/* 
**************************************************** BACKGROUND
*/
.bg-rsi-blue {
    background-color: var(--rsi-blue);
}

.bg-rsi-red {
    background-color: var(--rsi-red);
}




/* 
**************************************************** BUTTONS
    To use: list the "btn" and "shadow-sm" classes
        whenever using these button classes
*/
/* BLUE */
.rsi-btn-blue {
    background-color: var(--rsi-blue);
    color: #FFFFFF;
    font-weight: 500;
    border: 2px solid var(--rsi-red);
}
.rsi-btn-blue:hover {
    color: var(--rsi-red);
}

/* RED */
.rsi-btn-red {
    background-color: var(--rsi-red);
    color: #FFFFFF;
    font-weight: 500;
    border: 2px solid var(--rsi-blue);
}
.rsi-btn-red:hover {
    color: var(--rsi-blue);
}

/* WHITE */
.rsi-btn-white {
    background-color: #FFFFFF;
    color: var(--rsi-red);
    font-weight: 500;
    border: 2px solid var(--rsi-blue);
}

.rsi-btn-white:hover {
    color: var(--rsi-blue);
}


/* 
**************************************************** TODO: this currently sets the navbar to blue; that needs to happen using the bg-rsi-blue
*/
.navbar-light {
    background-color: var(--rsi-blue);
}


