/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

#nav {
    background-color: #032044;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Styles for the Calendar Page */
#month {
    border: 5px solid #062C48;
}

.calendar-box {
    border: 2px solid #062C48;
    background-color: #F2F2F2;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 0px;
    margin: 1px 1px 1px 1px;
}

.event-mandatory {
    background-color: #EB1C2C;
    color: white;
    border: 1px solid #062C48;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin: 0px 0px 0px 0px;
}

.event-optional {
    background-color: #062C48;
    color: white;
    border: 1px solid #062C48;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin: 0px 0px 0px 0px;
}

.event-fun {
    background-color: #46D967;
    color: white;
    border: 1px solid #062C48;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin: 0px 0px 0px 0px;
}
/* 
***************************************************************
**************************************************************** RURAL SOURCING INC
***************************************************************
*/

/* 
**************************************************** RSI COLOR VARIABLES
*/
html {
    --rsi-blue: #062C48; /* copy and paste to use: var(--rsi-blue) */
    --rsi-red: #EB1C2C; /* copy and paste to use: var(--rsi-red) */
    --rsi-gray: #F2F2F2; /* copy and paste to use: var(--rsi-gray) */
}




/* 
**************************************************** FORMS
*/
.rsi-form {
    background-color: var(--rsi-gray);
    border: 2px solid var(--rsi-blue);
    border-radius: 10px;
    box-shadow: var(--rsi-blue) 0px 0px 10px 5px;
    margin: 50px auto;
    padding: 20px;
}




/* 
**************************************************** TEXT
*/
.text-rsi-blue {
    color: var(--rsi-blue);
}

.text-rsi-red {
    color: var(--rsi-red);
}




/* 
**************************************************** BACKGROUND
*/
.bg-rsi-blue {
    background-color: var(--rsi-blue);
}

.bg-rsi-red {
    background-color: var(--rsi-red);
}




/* 
**************************************************** BUTTONS
    To use: list the "btn" and "shadow-sm" classes
        whenever using these button classes
*/
/* BLUE */
.rsi-btn-blue {
    background-color: var(--rsi-blue);
    color: #FFFFFF;
    font-weight: 500;
    border: 2px solid var(--rsi-blue);
}
.rsi-btn-blue:hover {
    color: var(--rsi-red);
    border: 2px solid var(--rsi-red);
}

/* RED */
.rsi-btn-red {
    background-color: var(--rsi-red);
    color: #FFFFFF;
    font-weight: 500;
    border: 2px solid var(--rsi-red);
}
.rsi-btn-red:hover {
    color: var(--rsi-blue);
    border: 2px solid var(--rsi-blue);
}

/* WHITE */
.rsi-btn-white {
    background-color: white;
    color: var(--rsi-blue);
    font-weight: 500;
    border: 2px solid var(--rsi-blue);
}
.rsi-btn-white:hover {
    color: var(--rsi-red);
    border: 2px solid var(--rsi-red);
}

/* CheckBoxes */
:checked.form-check-input {
    background: var(--rsi-blue);
    border-color: var(--rsi-red);
}
/* 
**************************************************** TODO: this currently sets the navbar to blue; that needs to happen using the bg-rsi-blue
*/
.navbar-light {
    background-color: var(--rsi-blue);
}

/* Day View CSS*/
.day-selector {
    width: 1000px;
    height: 70px;
    margin: 20px auto;
    background: #FFFFFF;
    border: 2px solid #062C48;
    box-shadow: 0px 4px 4px -1px #2E5D7F;
    border-radius: 45px;
    padding: 0 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.day-text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    color: #062C48;
    margin: 0;
}

.left-arrow {
    width: 0;
    height: 0;
    border-width: 24px 45px 24px 0;
    border-color: transparent #062C48 transparent transparent;
    border-style: solid;
}

.right-arrow {
    width: 0;
    height: 0;
    border-width: 24px 0 24px 45px;
    border-color: transparent transparent transparent #062C48;
    border-style: solid;
}

.day-event-display {
    width: 1000px;
    height: 700px;
    margin: 20px auto;
    background: #F4F4F4;
    border: 1px solid #0E7ED0;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.day-tr {
    float: right;
    width: 90%;
    height: 70px;
    background: #EB1C2C;
    border: 1px solid #000000;
    margin-top: 20px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
}

.day-td {
    position: relative;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    color: #FFFFFF;
    padding: 9px 30px;
    box-sizing: border-box;
}

.day-td-time {
    width: 30%;
    border-right: 5px solid #000000;
}

/* Schedule View CSS*/
.schedule-heading {
    width: 1000px;
    height: 70px;
    margin: 20px auto;
    background: var(--rsi-blue);
    border: 2px solid var(--rsi-blue);
    box-shadow: 0px 4px 4px -1px #2E5D7F;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.schedule-heading-text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

/* RSI LOGO IN NAV BAR */
#rsi-logo {
    max-width: 100px;
}