@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<div class="jumbotron jumbotron-fluid bg-rsi-blue p-3 mb-3 rounded">
    <div class="container">
        <h1 class="display-6 text-center text-white">Event Details</h1>
    </div>
</div>

<div class="container mt-5 mb-5 p-5 rsi-form">
    <form>
        <!-- DATE -->
        <div class="form-group row">
            <label for="eventdetailsdate" class="col-sm-2 col-form-label fw-bold">Date:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control shadow-sm" id="eventdetailsdate" value="9/18/21">
            </div>
        </div>

        <!-- TIME -->
        <div class="form-group row">
            <label for="eventdetailstime" class="col-sm-2 col-form-label fw-bold">Time:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control shadow-sm" id="eventdetailsdate" value="7:00 PM">
            </div>
        </div>

        <!-- Description -->
        <div class="form-group row">
            <label for="eventdetaildescription" class="col-sm-2 col-form-label fw-bold">Description:</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="eventdetaildescription" value=" A bunch of employees are meeting at the front gate of the greenjacketsgame. Hope you can join us!">
            </div>
        </div>

        <!-- LOCATION -->
        <div class="form-group row">
            <label for="eventdetaillocation" class="col-sm-2 col-form-label fw-bold">Location:</label>
            <div class="col-sm-10">
                <select class="custom-select shadow-sm" id="eventdetaillocation">
                    <option value="1">Albuquerque, NM</option>
                    <option value="2" selected>Augusta, GA</option>
                    <option value="3">Fort Wayne, IN</option>
                    <option value="4">Jonesboro, AR</option>
                    <option value="5">Madison, WI</option>
                    <option value="6">Milwaukee, WI</option>
                    <option value="7">Mobile, AL</option>
                    <option value="8">Oklahoma City, OK</option>
                </select>
            </div>
        </div>

        <!-- TYPE -->
        <div class="form-group row">
            <label for="eventdetailtype" class="col-sm-2 col-form-label fw-bold">Type:</label>
            <div class="col-sm-10">
                <select class="custom-select shadow-sm" id="eventdetailtype">
                    <option value="1">Fun with Coworkers</option>
                </select>
            </div>
        </div>


        <!-- ATTACHMENTS -->
        <div class="form-group row mt-5">
            <label class="col-sm-2"></label>
            <div class="col-sm-10">
                <fieldset class=" p-3 border border-dark border-1 shadow-sm rounded">
                    <legend class="fw-bold">Attachments: Event Flyer</legend>
                    <label for="eventdetaildescription" class="col-sm-2 col-form-label fw-bold">Are you coming?</label>
                    <!-- NEW EVENTS -->
                    <div class="form-check">
                        <label class="form-check-label" for="eventdetailattachment">Yes!</label>
                        <input class="form-check-input" type="checkbox" value="" id="eventdetailattachment">
                    </div>
                    <!-- OPTIONAL EVENTS -->
                    <div class="form-check">
                        <label class="form-check-label" for="eventdetailattachment">No!</label>
                        <input class="form-check-input" type="checkbox" value="" id="eventdetailattachment">
                    </div>
                </fieldset>
            </div>
        </div>
    </form>
</div>
