@model IEnumerable<Event>
@{
    ViewData["Title"] = "Event Search";
}
<!--Page Title-->
<div class="container bg-rsi-blue p-3 mb-3 rounded">
    <h1 class="display-6 text-center text-white">Event Search</h1>
</div>

<!--Search Parameters-->
<div class="container rsi-form">
    <form asp-action="getEvents" method="post">
        <!--Event Name-->
        <div class="row mb-3">
            <label class="col-form-label col-sm-1 fw-bold" for="eventSearchName">Name:</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" id="eventSearchName" />
            </div>
            <div class="col-sm-auto align-self-center">
                <input class="form-check-input" type="checkbox" id="nameCheckbox" />
            </div>
        </div>
        <!--Event Date-->
        <div class="row mb-3">
            <label class="col-form-label col-sm-1 fw-bold" for="eventSearchDate">Date:</label>
            <div class="col-sm-2">
                <input class="form-control" type="date" id="eventSearchStartDate" />
            </div>
            <div class="col-sm-1 text-center align-self-center">
                through
            </div>
            <div class="col-sm-2">
                <input class="form-control" type="date" id="eventSearchEndDate" />
            </div>
            <div class="col-sm-auto align-self-center">
                <input class="form-check-input" type="checkbox" id="dateCheckbox" />
            </div>
        </div>
        <!--Event Location-->
        <div class="row mb-3">
            <label class="col-form-label col-sm-1 fw-bold" for="eventSearchBranch">Branch:</label>
            <div class="col-sm-5">
                <select class="form-select" id="eventSearchBranch">
                    <option value="any" selected>Any</option>
                    <option value="augusta">Augusta, GA</option>
                    <option value="albuquerque">Albuquerque, NM</option>
                    <option value="fort-wayne">Fort Wayne, IN</option>
                    <option value="jonesboro">Jonesboro, AR</option>
                    <option value="madison">Madison, WI</option>
                    <option value="milwaukee">Milwaukee, WI</option>
                    <option value="mobile">Mobile, AL</option>
                    <option value="oklahoma-city">Oklahoma, OK</option>
                </select>
            </div>
        </div>
        <!--Event Type-->
        <div class="row mb-3">
            <label class="col-form-label col-sm-1 fw-bold" for="eventSearchType">Type:</label>
            <div class="col-sm-5">
                <select class="form-select" id="eventSearchType">
                    <option value="any" selected>Any</option>
                    <option value="mandatory">Mandatory</option>
                    <option value="fun">Fun</option>
                    <option value="family">Family</option>
                </select>
            </div>
        </div>
        <!--Buttons-->
        <button type="submit" class="btn rsi-btn-blue shadow-sm">Search</button>
        <button type="reset" class="btn rsi-btn-red shadow-sm">Reset</button>
        <button type="button" class="btn rsi-btn-white shadow-sm">Cancel</button>
    </form>
</div>

<!--Search Results-->
<table class="table table-secondary table-hover table-bordered border-dark">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Branch</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Event e in Model)
        {
        <tr>
            <td>@e.Name</td>
            <td>@e.StartDate</td>
            <td>@e.Location</td>
            <td>@e.Type</td>
        </tr>
        }
    </tbody>
</table>